# Git provider: gitlab or github
GIT_PROVIDER=gitlab

# GitLab (when GIT_PROVIDER=gitlab)
GITLAB_URL=https://gitlab.com
GITLAB_TOKEN=
GITLAB_PROJECT_ID=
GITLAB_SSL_VERIFY=true

# GitHub (when GIT_PROVIDER=github)
GITHUB_TOKEN=
GITHUB_REPO=

MCP_HOST=0.0.0.0
MCP_PORT=8002
